/* fonts */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto'),
      url('../fonts/roboto.woff2') format('woff2'),
      url('../fonts/roboto.woff') format('woff');
  display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto-Medium'), local('RobotoMedium'), local('Roboto Medium'),
      url('../fonts/robotomedium.woff2') format('woff2'),
      url('../fonts/robotomedium.woff') format('woff');
  display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: local('Roboto-Bold'), local('RobotoBold'), local('Roboto Bold'),
      url('../fonts/robotobold.woff2') format('woff2'),
      url('../fonts/robotobold.woff') format('woff');
  display: swap;
}


/* variables */

:root {

  /* main */

  --white: #FFFFFF;
  --dark: #323232;

  /* white with transparency */

  --white-2: rgba(255, 255, 255, 0.2);
  --white-3: rgba(255, 255, 255, 0.3);
  --white-4: rgba(255, 255, 255, 0.4);
  --white-5: rgba(255, 255, 255, 0.5);
  --white-7: rgba(255, 255, 255, 0.7);
  --white-8: rgba(255, 255, 255, 0.8);

  /* header */

  --header-logo: #FBFCFB;

  /* main page */

  --hit-bg: #231F20;
  --blog-underline: #353535;
  --main-contacts-bg: #FEFEFE;
  --slider-bg-1: rgba(215, 242, 227, 0.75);
  --main-bg-1: #849D8F;
  --slider-bg-2: rgba(218, 228, 239, 0.75);
  --main-bg-2: #8996A6;
  --slider-bg-3: rgba(239, 224, 218, 0.75);
  --main-bg-3: #9D8B84;
  --berry-bg: #DB6083;
  --choco-bg: #937369;
  --benefits-bg: #F2E6CF;
  --map-bg: #EEE6CA;

  /* products */

  --price-text-shadow: rgba(49, 50, 53, 0.5);
  --item-box-shadow-active: rgba(0, 0, 0, 0.2);

  /* forms */

  --placeholder: #999999;
  --subscription-text: #5A5A5A;
  --subscription-input-border: rgba(178, 178, 178, 0.52);
  --input-border: #D3D3D2;
  --form-bg: #F8F7F4;
  --input-border-active: rgba(46, 136, 228, 0.52);

  /* menu */

  --menu-list-border: rgba(50, 50, 50, 0.2);
  --menu-list-box-shadow: rgba(0, 0, 0, 0.4);
  --catalog-bg-active: #EDEDED;
  --catalog-box-shadow-active: #696969;
  --bg-onpage: #D07058;
  --menu-item-bg-hover: #FBDED7;
  --menu-item-bg-active: #F6B5A5;

  /* cart */

  --cart-close: #2C2829;
  --cart-weight: #000000;
  --cart-border: #CACAC7;

  /* link */

  --link-text-hover: #FFBC9E;
  --link-underline-hover: rgba(255, 188, 158, 0.3);
  --link-lightbg-underline: rgba(50, 50, 50, 0.3);
  --link-lightbg-text-hover: #E84D37;
  --link-lightbg-underline-hover: rgba(232, 77, 55, 0.3);

  /* button */

  --btn-text-shadow: rgba(160, 32, 11, 0.76);
  --btn-linear-gradient-1: #F26843;
  --btn-linear-gradient-2: #E74A35;
  --btn-box-shadow: rgba(172, 16, 0, 0.64);
  --btn-popup-box-shadow: rgba(172, 16, 0, 0.25);
  --btn-box-shadow-hover: #AC1000;
  --btn-box-shadow-active: #942718;
  --btn-linear-gradient-active: rgba(0, 0, 0, 0.07);
  --btn-middle-box-shadow: rgba(85, 8, 0, 0.54);

  /* filters */

  --arrow-bg: #ECF1EE;
  --filter-button-bg: #ABABAB;
  --filter-border: rgba(248, 247, 244, 0.5);
}


/* global */

.page {
  height: 100%;
}

.page-body {
  min-width: 1200px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: var(--white);
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

img {
  max-width: 100%;
  height: auto;
}

a.button {
  color: var(--white);
  text-decoration: none;
  background: linear-gradient(180deg, var(--btn-linear-gradient-1) 0%, var(--btn-linear-gradient-2) 100%);
  box-shadow: 0px 2px 2px var(--btn-box-shadow);
}

a.middle-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 26px;
  box-shadow: 0px 2px 2px var(--btn-middle-box-shadow);
}

a.middle-button:hover {
  background: linear-gradient(0deg, var(--white-2), var(--white-2)), linear-gradient(180deg, var(--btn-linear-gradient-1) 0%, var(--btn-linear-gradient-2) 100%);
  box-shadow: 0px 1px 2px var(--btn-box-shadow-hover);
}

a.middle-button:active {
  background: linear-gradient(0deg, var(--btn-linear-gradient-active), var(--btn-linear-gradient-active)), linear-gradient(180deg, var(--btn-linear-gradient-1) 0%, var(--btn-linear-gradient-2) 100%);
  box-shadow: inset 0px 2px 2px var(--btn-box-shadow-active);
}

.page ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-page-content {
  margin-top: -123px;
}

/* links with white underline */

.links-white-underline {
  color: inherit;
  text-decoration-color: var(--white-3);
}

/* links without underline */

.links-without-underline {
  color: inherit;
  text-decoration: none;
}

/* product */

.products-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  padding-top: 6px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 26px;
  margin: 0;
  padding: 0;
}

.product-link {
  width: 267px;
  order: 3;
  font-weight: 500;
  text-align: center;
  margin-bottom: 11px;
}

.products-item p {
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 0px 1px 3px var(--price-text-shadow);
}

.measure {
  font-size: 30px;
  line-height: 35px;
  font-weight: bold;
  text-shadow: 0px 1px 3px var(--price-text-shadow);
}

.product-view-btn {
  display: none;
  order: 4;
  margin-bottom: 21px;
}

.products-item:hover {
  background-color: var(--white-2);
  box-shadow: 0px 20px 20px var(--item-box-shadow-active);
  border-radius: 4px;
}

.products-item:hover + .product-view-btn {
  display: block;
}

.product-link h3:hover,
.product-link h3:active {
  color: var(--link-text-hover);
  text-decoration-color: var(--link-underline-hover);
}

/* header */

.header {
  display: grid;
  grid-template-columns: 1fr max-content;
  padding-top: 9px;
  z-index: 10;
}

.header-logo {
  width: 154px;
  height: 64px;
}

.header-nav {
  display: flex;
}

.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 699px;
  margin: 0;
  padding: 18px 0 0 10px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.header-nav-item {
  margin-right: 20px;
  margin-bottom: 15px;
}

.header-nav-link {
  padding: 5px 13px;
  border-radius: 26px;
}

.submenu-list {
  display: none;
  position: absolute;
  padding: 0;
  margin-top: 10px;
  margin-left: -5px;
  color: var(--dark);
  background-color: var(--white);
  box-shadow: 0px 20px 20px var(--menu-list-box-shadow);
  border-radius: 4px;
}

.submenu-item .submenu-item-new {
  margin-bottom: 27px;
}

.submenu-link {
  display: block;
  padding: 10px 21px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

a.submenu-link-new {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}

.header-dropdown-link:hover + .submenu-list {
  display: block;
}

.user-contacts-wrap {
  display: flex;
  flex-direction: column;
}

.user-nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 14px;
  margin-bottom: 20px;
  max-width: 293px;
}

.user-nav-link {
  display: flex;
  align-items: center;
  background-color: var(--white-2);
  border-radius: 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-nav-link:not(:last-child) {
  margin-right: 10px;
}

.cart-link {
  padding: 6px 16px;
}

.cart-link svg {
  margin-right: 8px;
}

.login-link {
  padding: 6px 16px 7px;
}

.login-link svg{
  margin-right: 9px;
}

.search-link {
  padding: 8px;
}

.header-contacts {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-align: right;
}

.header-contacts p {
  margin: 0;
  margin-bottom: 8px;
}

.header-phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

.header-nav-link:hover {
  color: var(--dark);
  background-color: var(--white);
}

.header-nav-link:active {
  color: var(--dark);
  background-color: var(--catalog-bg-active);
  box-shadow: inset 0px 2px 1px var(--catalog-box-shadow-active);
}

.submenu-link:hover {
  color: var(--dark);
  background-color: var(--menu-item-bg-hover);
  text-decoration: none;
}

.submenu-link:active {
  background-color: var(--menu-item-bg-active);
  text-decoration: none;
}

.header-nav-link-current {
  color: var(--white);
  background-color: var(--bg-onpage);
  text-decoration: none;
}

.submenu-link-current {
  color: var(--white);
  background-color: var(--bg-onpage);
}

.search-link:hover,
.login-link:hover {
  color: var(--dark);
  background-color: var(--white);
}

.search-link:hover path,
.login-link:hover path {
  fill: var(--dark);
}

/* block slider */

.slider {
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
}

.slide-current {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 716px;
  min-height: 716px;
  margin: 0 auto;
}

.slider-item img {
  z-index: -1;
}

.slide-blur {
  position: absolute;
  top: 0;
  width: 716px;
  height: 716px;
  filter: blur(250px);
  z-index: -20;
}

.slide-1-blur {
  background-color: var(--slider-bg-1);
}

.slide-2-blur {
  background-color: var(--slider-bg-2);
}

.slide-3-blur {
  background-color: var(--slider-bg-3);
}

.slider-bg-1 {
  background-color: var(--main-bg-1);
}

.slider-bg-2 {
  background-color: var(--main-bg-2);
}

.slider-bg-3 {
  background-color: var(--main-bg-3);
}

.slide-title {
  max-width: 672px;
  margin: -318px 0 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  text-align: center;
}

.slide-3 .slide-title {
  max-width: 648px;
}

a.slider-button {
  padding: 9px 32px;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-shadow: 0px 2px 5px var(--btn-text-shadow);
  border-radius: 70px;
}

a.slider-button:hover {
  background: linear-gradient(0deg, var(--white-2),var(--white-2)), linear-gradient(180deg, var(--btn-linear-gradient-1) 0%, var(--btn-linear-gradient-2) 100%);
  box-shadow: 0px 2px 2px var(--btn-box-shadow-hover);
}

a.slider-button:active {
  background: linear-gradient(0deg, var(--btn-linear-gradient-active), var(--btn-linear-gradient-active)), linear-gradient(180deg, var(--btn-linear-gradient-1) 0%, var(--btn-linear-gradient-2) 100%);
  box-shadow: inset 0px 2px 2px var(--btn-box-shadow-active);
}

.slider-controls {
  position: absolute;
  top: 563px;
  left: 0;
}

.slider-btn {
  width: 21px;
  height: 21px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid var(--white);
  background-color: transparent;
  cursor: pointer;
}

.slider-btn-current {
  background-color: var(--white);
}

.slider-btn:hover {
  background-color: var(--white-4);
}

/* block special-offer */

.special-offer {
  margin-top: -69px;
  margin-bottom: 40px;
}

.special-offer-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  margin: 0;
  padding: 0;
}

.special-berry {
  background-color: var(--berry-bg);
  background-image: url('../img/berry-bg.jpg');
}

.special-choco {
  background-color: var(--choco-bg);
  background-image: url('../img/choco-bg.jpg');
}

.special-offer-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 560px;
  min-height: 229px;
  padding: 16px 22px 22px 16px;
  border-radius: 16px;
  box-sizing: border-box;
  background-size: cover;
}

.special-offer-item h3 {
  margin: 0;
  margin-bottom: 16px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.special-offer-item p {
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.special-offer-btn {
  align-self: flex-end;
}

/* block bestsellers */

.bestsellers {
  margin-bottom: 40px;
}

.bestsellers-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  margin-left: -13px;
  padding: 0;
}

.bestsellers-item {
  position: relative;
  width: 293px;
}

.bestsellers-item::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 26px;
  width: 34px;
  height: 27px;
  background-image: url('../img/hit-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 20;
}

.bestsellers-item::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 13px;
  width: 61px;
  height: 61px;
  background-color: var(--white);
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 50%;
}

.product-price {
  position: absolute;
  top: 205px;
  left: 13px;
}

.product-link h3 {
  margin: 0;
}

.img-wrap {
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  width: 267px;
  height: 267px;
  margin-bottom: 13px;
}

/* block benefits */

.benefits-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0;
  padding: 0;
}

.benefits {
  color: var(--dark);
  background-color: var(--benefits-bg);
  background-image: url('../img/waffle-pattern.jpg');
  padding: 24px 20px 36px;
  margin-bottom: 40px;
  border-radius: 16px;
}

.benefits-title {
  margin: 0;
  margin-bottom: 7px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.benefits-item {
  position: relative;
  padding: 10px 0 0 55px;
}

.benefit-desc {
  margin: 0;
}

.benefit-desc-ice::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 17px;
  width: 49px;
  height: 49px;
  background-image: url('../img/ice-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.benefit-desc-cow::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  width: 49px;
  height: 49px;
  background-image: url('../img/cow-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.benefit-desc-leaf::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 17px;
  width: 49px;
  height: 49px;
  background-image: url('../img/leaf-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.benefit-desc-therm::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 18px;
  width: 49px;
  height: 49px;
  background-image: url('../img/therm-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.benefit-desc-ice::after,
.benefit-desc-cow::after,
.benefit-desc-leaf::after,
.benefit-desc-therm::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  border: 2px solid var(--dark);
  border-radius: 50%;
}

/* block blog */

.blog-subscription-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  margin-bottom: 40px;
}

.blog {
  width: 560px;
  min-height: 220px;
  color: var(--dark);
  background-color: var(--white);
  background-image: url('../img/blog-bg.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 23px 20px;
  border-radius: 16px;
  box-sizing: border-box;
  background-size: cover;
}

.blog p {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 500;
}

.blog-link {
  display: block;
  width: 287px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: inherit;
}

.blog-link:hover,
.blog-link:active {
  color: var(--link-lightbg-text-hover);
  text-decoration-color: var(--link-lightbg-underline-hover);
}

/* block subscription */

.subscription {
  width: 560px;
  min-height: 220px;
  padding: 6px;
  color: var(--subscription-text);
  background-image: url('../img/subscription-bg.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  border-radius: 16px;
  box-sizing: border-box;
}

.subscription-inner {
  width: 548px;
  min-height: 210px;
  padding: 23px 10px 29px 14px;
  background-color: var(--form-bg);
  border-radius: 16px;
  box-sizing: border-box;
}

.subscription-inner p {
  margin: 0;
}

/* block map */

.map {
  height: 430px;
  margin: 0 auto;
}

.map img {
  display: block;
  margin: 0 auto;
}

/* block contact-info */

.contact-info {
  color: var(--dark);
}

.main-contacts-wrap {
  position: relative;
}

.main-contacts {
  position: absolute;
  top: -368px;
  right: 27px;
  width: 303px;
  padding: 32px 25px 31px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  background-color: var(--main-contacts-bg);
  border-radius: 16px;
  box-sizing: border-box;
}

.main-contacts p {
  margin: 0;
  margin-bottom: 30px;
}

.address,
.main-phone,
.main-contacts-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

/* footer */

.footer {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.socials-item {
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.social-button {
  width: 32px;
  height: 32px;
}

.social-fb::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 32px;
  height: 32px;
  background-image: url('../img/fb-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-vk::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 32px;
  height: 32px;
  background-image: url('../img/vk-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-ig::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 32px;
  height: 32px;
  background-image: url('../img/insta-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-tw::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 32px;
  height: 32px;
  background-image: url('../img/twit-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-fb::after,
.social-vk::after,
.social-ig::after,
.social-tw::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border: 2px solid var(--white-5);
  border-radius: 50%;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 327px;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
}

.copy {
  position: relative;
  width: 190px;
  margin-top: 18px;
}

.copy-logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 108px;
  height: 39px;
  background-image: url('../img/logo-academy.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.copy p {
  padding-top: 37px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.footer-nav-item-diff {
  position: relative;
  font-weight: bold;
}

.footer-nav-item-diff::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 15px;
  height: 13px;
  background-image: url('../img/heart-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-nav-item:hover,
.footer-nav-item:active,
.footer-nav-item-diff:hover,
.footer-nav-item-diff:active,
.copy-link:hover,
.copy-link:active {
  color: var(--link-text-hover);
  text-decoration-color: var(--link-underline-hover);
}

/* breadcrumbs */

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:active {
  color: var(--link-text-hover);
  text-decoration-color: var(--link-underline-hover);
}

/* pagination */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.pagination-link-current {
  color: var(--dark);
  background-color: var(--white);
}

.pagination-link:hover {
  background-color: var(--white-2);
}

.pagination-link:active {
  color: var(--dark);
  background-color: var(--white);
}
